 body{
width:80%;
margin:0 auto;}


.colonneUne, .colonneDeux , .colonneTrois {
width:300px;
float:left;
margin:10px;
background-color:#B8FFF4;
}

h1 {
color : #DAA520;
}

.alignement{
margin-top:500px;
}
ul.special {
    color:green;
}
ul.survol:hover{
    color:blue;
}
h3.special:hover{
    color:red;
}
li {
  list-style-type: square;
  font-size:120%;
}
